@import('./bbkcal.css');

/* customice Headerfields*/
.tl_search .tl_text{
	width: 300px;
}

/* custom button-styles*/
.export_csv{
	background:url("iconCSV.png") no-repeat left center;
	padding-left: 20px;
}
.export_pdf{
	background:url("iconPDF.gif") no-repeat left center;
	padding-left: 20px;
}
.check_reminder{
	background:url("refresh.png") no-repeat left center;
	padding-left: 18px;
}
.loan_finish {
	background:url("ok.gif") no-repeat left center;
	color:green;
	padding-left: 18px;
}

/* Style sheet tooltip */
.tool { width:300px; }
.tool .tip-title {
	margin:0 0 3px;
	padding:10px 20px;
	font-family:verdana,arial,sans-serif;
	font-weight:bold;
	font-size:1.2em;
	color:#fff;
	background:#666;
	-moz-box-shadow:2px 2px 8px #999;
	-webkit-box-shadow:2px 2px 8px #999;
	box-shadow:2px 2px 8px #999;
}
.tool .tip-text {
	margin:0;
	padding:10px 20px;
	font-family:verdana,arial,sans-serif;
	font-size:1.1em;
	line-height:1.7;
	background:#fff;
	-moz-box-shadow:2px 2px 8px #999;
	-webkit-box-shadow:2px 2px 8px #999;
	box-shadow:2px 2px 8px #999;
}

.status_0{
	background-color: #FFE7BC;
	border: 1px solid #A36A00;
	padding: 1px 5px;
	text-align:center;
	color: #A36A00;
}

.status_1{
	background-color: #FCE3E6;
	border: 1px solid #7F000E;
	padding: 1px 5px;
	text-align:center;
	color: #7F000E;
}
.status_1.finish{
	background-color: #fff;
	border: 1px solid green;
	color: green;
}
.status_2{
    background-color: #999;
    padding: 1px 5px;
    text-align:center;
    color: #fff;
}